# Build outputs
bin/
obj/

# User-specific files
*.user
*.userosscache
*.suo
*.csproj.user

# IDEs
.vscode/
.idea/
.vs/
*.pidb
*.userprefs

# OS
.DS_Store
Thumbs.db

# MAUI
Platforms/Android/obj/
Platforms/Android/bin/
Platforms/iOS/obj/
Platforms/iO

























S/bin/

